
/* Class colors */

.death-knight {
    border: 6px solid #C41F3B;
}

.demon-hunter {
    border: 6px solid #A330C9;
}

.druid {
    border: 6px solid #FF7D0A;
}

.hunter {
    border: 6px solid #ABD473;
}

.mage {
    border: 6px solid #69CCF0;
}

.monk {
    border: 6px solid #00FF96;
}

.paladin {
    border: 6px solid #F58CBA;
}

.priest {
    border: 6px solid #FFFFFF;
}

.rogue {
    border: 6px solid #FFF569;
}

.shaman {
    border: 6px solid #0070DE;
}

.warlock {
    border: 6px solid #9482C9;
}

.warrior {
    border: 6px solid #C79C6E;
}

/* End class colors */
